head{
color:red;
background:yellow;
font-style:bold;
}
footer{
background:orange;
}
h4{
font-style:normal;
font-family:courier;
color:blue;
}
nav a{
  background:green;
  color:yellow;
  block:in-line;
}
  
